* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2.5vw;
    background-color: rgb(22, 32, 55);
    padding: 2.5vw;
    color: white;
}

header {
    grid-column: 1 / 4;
    border: 1px solid gray;
    border-radius: 1rem;
    background-color: rgb(13, 21, 39);
    height: 10vh;
    padding: 1rem;
}

nav {
    grid-column: 1 / 2;
    border: 1px solid gray;
    border-radius: 1rem;
    background-color: rgb(13, 21, 39);
    height: 60vh;
    padding: 1rem;
}

main {
    grid-column: 2 / 3;
    border: 1px solid gray;
    border-radius: 1rem;
    background-color: rgb(13, 21, 39);
    height: 60vh;
    padding: 1rem;
}

aside {
    grid-column: 3 / 4;
    border: 1px solid gray;
    border-radius: 1rem;
    background-color: rgb(13, 21, 39);
    height: 60vh;
    padding: 1rem;
}

footer {
    grid-column: 1 / 4;
    border: 1px solid gray;
    border-radius: 1rem;
    background-color: rgb(13, 21, 39);
    height: 10vh;
    padding: 1rem;
}

@media screen and (max-width: 749px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    main {
        width: 100%;
    }

    aside {
        width: 100%;
    }

    footer {
        width: 100%;
    }
}