@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

/* 3.1 Body */
body {
    background-color: #F0F4EF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* 3.2 Header + nav */
header {
    background-color: #222;
    height: 10vh;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: white;
    font-size: 1.2rem;
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}

/* 3.3 Custom font */
h2 {
    font-family: "Tangerine", cursive;
    font-style: normal;
    font-size: 3rem;
}

/* 3.4 Main */
main {
    padding: 0 10vw;
}

/* 3.5 Gallery layout */
.photo-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

/* 3.6 Card styling */
.card {
    background-color: white;
    border: 1px solid #CCC;
    grid-column: span 1;
}

.card img {
    width: 100%;
}

.card p {
    padding: 0 1rem;
}

/* 3.7 Footer */
footer {
    background-color: #222;
    color: white;
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 0 10vw;
    margin-top: 10vh;
}

/* 3.8 Media queries */

@media screen and (max-width: 699px) {
    .photo-container {
        display: flex;
        flex-direction: column;
    }

    main {
        padding: 0 5vw;
    }
}