@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(202, 198, 211);
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Rethink Sans", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.navList {
    list-style-type: none;
}

.navLink {
    color: #fff;
}

header {
    display: block;
    left: 0;
    right: 0;
    top: .2rem;
    position: fixed;
    padding: 0 1rem;
}

header section.headerContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: .2rem;
}

header .logo {
    grid-column: 1 / 8;
    height: 2rem;
}

header .logowrapper {
    background-color: #000;
    border-radius: 2rem;
    color: #FFF;
}

header .logowrapper a {
    display: flex;
    align-items: center;
    gap: 6rem;
}

header .logowrapper a h1 {
    font-size: 3.5rem;
    margin-left: .4rem;
}

header .logowrapper a h3 {
    font-size: 1rem;
}

header nav {
    grid-column: 8 / 17;
    height: 2rem;
}

header nav ul {
    width: 100%;
    background-color: #000;
    border-radius: 1rem;
    color: #FFF;
    min-height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

header nav ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li a {
    font-weight: 600;
    font-size: 1.2rem;
}

header nav ul:hover li a {
    color: #aaa;
}

header nav ul li:hover a {
    color: #eee;
}
 
main {
    padding-top: calc(2rem + .2rem * 2);
    margin: 0 1rem;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 0.2rem;
    min-height: calc(1vh * 100);
}

main section.lectures {
    grid-column: 8 / 17;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    border: 1px solid black;
    border-radius: 2rem;
    margin-bottom: 20vh;
}

main section.tutorials {
    grid-column: 1 / 17;
}

main section.tutorials ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.4rem;
}

main section.tutorials ul li {
    padding: 50px 80px;
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

main section.tutorials ul li:hover {
    transform: scaleY(10px);
    box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 1);
}

main section.homework {
    grid-column: 1 / 17;
    height: calc(1vh * 100);
    max-height: calc(1vw * 80);
    min-height: calc(1vw * 60);
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.homework ul li a {
    font-size: 2rem;
}