@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --PRIMARY100: #EEE5FF;
    --PRIMARY200: #D9D3E5;
    --PRIMARY300: #CAC6D3;
    --PRIMARY400: #ADABB2;
    --PRIMARY500: #969499;
    --PRIMARY600: #7C7A80;
    --PRIMARY700: #616066;
    --PRIMARY800: #48464D;
    --PRIMARY900: #2F2E33;
    --SECONDARY100: #4AFFD8;
    --SECONDARY200: #47E5C6;
    --SECONDARY300: #47D6BB;
    --SECONDARY400: #3EB29F;
    --SECONDARY500: #39998B;
    --SECONDARY600: #2D8074;
    --SECONDARY700: #22665E;
    --SECONDARY800: #184D47;
    --SECONDARY900: #0F3330;
    --TERTIARY100: #FF804A;
    --TERTIARY200: #E57447;
    --TERTIARY300: #D66E47;
    --TERTIARY400: #B25B3E;
    --TERTIARY500: #994F39;
    --TERTIARY600: #803F2D;
    --TERTIARY700: #662F22;
    --TERTIARY800: #4D2118;
    --TERTIARY900: #33150F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ~~~ GENERAL RULES ~~~ */
body {
    background-color: var(--PRIMARY200);
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Rethink Sans", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #100f12;
}

/* ~~~ HEADER/NAV RULES ~~~ */
.navList {
    list-style-type: none;
}

.navLink {
    color: var(--PRIMARY100);
}

header {
    display: block;
    left: 0;
    right: 0;
    top: .2rem;
    position: fixed;
    padding: 0 1rem;
    z-index: 10;
}

header section.headerContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: .2rem;
}

header .logo {
    grid-column: 1 / 8;
    height: 2rem;
}

header .logowrapper {
    background-color: #100f12;
    border-radius: 2rem;
    color: var(--PRIMARY100);
}

header .logowrapper a {
    display: flex;
    align-items: center;
    gap: 6rem;
}

header .logowrapper a h1 {
    font-size: 3.5rem;
    margin-left: .4rem;
}

header .logowrapper a h3 {
    font-size: 1rem;
}

/* ~~~ NAV RULES ~~~ */
header nav {
    grid-column: 8 / 17;
    height: 2rem;
}

header nav ul {
    width: 100%;
    background-color: #100f12;
    border-radius: 1rem;
    color: var(--PRIMARY100);
    min-height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

header nav ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li a {
    font-weight: 600;
    font-size: 1.2rem;
}

header nav ul:hover li a {
    color: var(--PRIMARY300);
}

header nav ul li:hover a {
    color: var(--SECONDARY200);
}

/* ~~~ MAIN RULES ~~~ */
main {
    padding-top: calc(2rem + .2rem * 2);
    margin: 0 1rem;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 0.2rem;
    row-gap: 0;
    min-height: calc(1vh * 100);
}

/* ~~~ LECTURES RULES ~~~ */
main section.lectures {
    grid-column: 8 / 17;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    border: 1px solid #100f12;
    border-radius: 2rem;
    margin-bottom: 10vh;
}

section.lectures .carouselContainer {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
}

section.lectures .carouselContainer .slide {
    /* display: none; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.lectures .carouselContainer:hover .slide {
    background-color: var(--PRIMARY700);
}

section.lectures .carouselContainer:hover .slide a {
    color: var(--SECONDARY200);
}

section.lectures .carouselContainer a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.lectures .carouselContainer a:focus {
    background-color: var(--PRIMARY500);
}

section.lectures .carouselContainer .prev, 
section.lectures .carouselContainer .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: auto;
    color: #100f12;
    font-size: 18px;
    font-weight: bold;
    padding: .75rem;
    height: 100%;
    border: none;
    background-color: transparent;
}

section.lectures .carouselContainer .next {
    right: 0;
}

section.lectures .carouselContainer .prev:hover, 
section.lectures .carouselContainer .next:hover {  
    background-color: var(--SECONDARY900);
    color: var(--PRIMARY100);
}

/* ~~~ TUTORIAL RULES ~~~ */
main section.tutorials {
    grid-column: 1 / 17;
    padding: 11vh 1rem;
    margin: 0 -1rem;
    background-color: VAR(--PRIMARY900);
}

main section.tutorials ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

main section.tutorials ul li a {
    padding: 50px 80px;
    /* border: 1px solid black; */
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 0 var(--SECONDARY900);
    background-color: var(--PRIMARY200);
}

main section.tutorials ul li a:hover {
    transform: scaleY(10px);
    box-shadow: 0 .2rem .4rem var(--SECONDARY500), 0 0 1rem #4affd840;
    color: var(--SECONDARY500);
}

/* ~~~ HOMEWORK RULES ~~~ */
main section.homework {
    grid-column: 1 / 17;
    /* height: calc(1vh * 100);
    max-height: calc(1vw * 50); */
    min-height: calc(1vw * 30);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.homework ul {
    width: 100%;
}

main section.homework ul li {
    min-height: 100vh;
    width: 100%;
    border-bottom: 1px solid var(--SECONDARY900);
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.homework ul li a {
    display: block;
    font-size: 2rem;
}

main section.homework ul li a:hover {
    color: var(--SECONDARY300);
}

/* ~~~ EXAM RULES ~~~ */
main section.exams {
    grid-column: 1 / 17;
    height: calc(1vh * 100);
    max-height: calc(1vw * 50);
    min-height: calc(1vw * 30);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--PRIMARY700);
    margin: 0 -1rem;
}

main section.exams ul li a {
    font-size: 2rem;
    color: var(--PRIMARY100);
}

main section.exams ul li a:hover {
    color: var(--SECONDARY300);
}