@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #c4d1d8;
}

h1 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #1c5677;
}

a {
    text-decoration: none;
}

.navbar {
    height: 60px;
    /* padding: 20px; */
    background-color: #94a0a7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a, .navbar strong {
    margin-right: 15px;
    color: #0c3349;
}

.navbar a:hover {
    transform: scale(1.1);
    border-bottom: 1px solid #0c3349;
}

.photo-section {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.photo-section img {
    width: 48%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.music-section iframe {
    margin-right: 1%;
}

.video-section iframe {
    margin-right: 1%;
}

main {
    padding-right: 10vw;
    padding-left: 10vw;
}

