html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

section#home {
    background-color: aqua;
}

section#bio {
    background-color: aquamarine;
}

section#portfolio {
    background-color: blue;
}

section#contact {
    background-color: cadetblue;
}