@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=UnifrakturMaguntia&display=swap');
/* Make sure that your @import statement is at the top of your CSS file  */


html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-family: "Luckiest Guy", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-family: "UnifrakturMaguntia", cursive;
}